:root {
    --cor-branca: #fff;
    --cor-preta: rgba(0, 0, 0, .9);
    --cor-preta-secundario: #333;
    --cor-amarelo-borda: #f2e454;
    --cor-container-amarelo: #fff159;
    --cor-azul: #1259c3;
    --cor-azul-botao: #3483fa;
    --cor-azul-discovery-botao: #3a82fa;
    --cor-azul-sansung: #2968c8;
    --cor-preto-titulo: #333;
    --cor-cinza-medio: #666;
    --cor-cinza-discovery: #4b4b4b;
    --cor-borda: #d5bebe;
    --cor-cinza: #ebebeb;
    --cor-verde: #00a650;
    --first_color_loyalty: #5A238D;
    --second_color_loyalty: #AA1192;
    --deg_loyalty: 45deg;
    --percentage_loyalty: 0%;
    --font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
    background-color: var(--cor-cinza);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 300;
    width: 100vw;
    display: block;
}

.container {
    background-color: var(--cor-container-amarelo);
    border-bottom: 0.8px solid var(--cor-borda);
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.rodape_white {
    padding: 4rem;
    background-color: var(--cor-branca);
}