.footer-info .logo__footer-link {
    background-color: var(--cor-container-amarelo);
    border-top: solid 1px var(--cor-amarelo-borda);
    border-bottom: solid 1px var(--cor-amarelo-borda);
}

.footer-info .logo__footer-link .container__logo {
    width: 90%;
    padding: 0.8rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.footer-info .logo__footer-link .container__logo .container_img {
    background-color: var(--cor-container-amarelo);
    padding: 5px 4px 5px 4px;
    border-radius: 5px;
    box-shadow: 0px 1px 6px 0px;
    margin-left: 1.5rem;
}

.footer-info .logo__footer-link .container__logo .container_img .img-logo {
    width: 39px;
    height: 28px;
}

.footer-info .logo__footer-link .container__logo .footer-texto {
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-preto-titulo);
}