.cabecalho {
    width: 100vw;
}

.cabecalho__principal-opcoes {
    display: flex;
    padding: 0.6rem 0 0.6rem 0.8rem;
}

.container__logo-input {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
}

.cabecalho__principal-opcoes .img-logo {
    width: 44px;
    height: 32px;
}

.cabecalho__principal-opcoes-busca-input {
    width: 90%;
    padding: 0.5rem 0.4rem 0.5rem 0.3rem;
    border: none;
}

.cabecalho__principal-opcoes-busca-input::placeholder {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 300;
    text-align: start;
    color: var(--cor-borda);
    padding-left: 2rem;
    background: url('./img/lupa.jpeg') no-repeat;
    background-position: left;
    background-size: 1.5rem 1rem;
    border: none;
}

.cabecalho__principal-opcoes-busca-input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.cabecalho__principal-opcoes-menu-hamburgue {
    margin-left: 0.5rem;
    width: 25px;
    height: 25px;
}

.cabecalho__principal-opcoes-carrinho-img {
    margin: 0 1rem;
    width: 28px;
    height: 28px;
    border-radius: 55px;
}

.container .cabecalho__principal-cep-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 0;
    text-decoration: none;
}

.container .cabecalho__principal-cep-link .cabecalho__principal-cep-link-container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cabecalho__principal-cep-link-img-titulo {
    font-family: var(--font-family);
    font-size: 13px;
    width: 76%;
    text-align: left;
    padding-left: 0.5rem;
}

.cabecalho__principal-cep-link-img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 55px;
}

.cabecalho__secundario {
    display: flex;
    flex-direction: column;
}

.swiper {
    width: 100%;
}

.swiper-wrapper-img {
    width: 100%;
    height: auto;
}

.cabecalho__secundario-form-pagamentos {
    background-color: var(--cor-branca);
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form__pagamentos-link {
    width: 30%;
    height: auto;
    align-self: center;
    text-align: end;
    margin-right: 1em;
}

.cabecalho__secundario-form-pagamentos-container {
    width: 70%;
    height: auto;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__pagamentos-titulo {
    color: var(--cor-preto-titulo);
    font-size: 16px;
    padding-top: 1em;
}

.form__pagamentos-link-opcoes {
    color: var(--cor-azul);
    text-decoration: none;
    font-size: 14px;
    padding: 0.5em 0 1.5em 0;
}