.navbar-footer {
    background-color: var(--cor-branca);
    text-align: center;
    display: flex;
    justify-content: center;
}

.navbar-footer .links-footer {
    width: 85%;
    padding: .8rem .8rem 2rem .8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-footer .links-footer .li-footer {
    width: 120px;
    margin: .5rem;
    text-align: start;
    padding: 0.5rem 0;
    line-height: 1.3em;
}

.navbar-footer .links-footer .li-footer .a-link {
    color: var(--cor-preta-secundario);
    text-align: start;
    font-weight: 400;
    font-size: 13px;
}