.secao__container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-branca);
    margin: 1rem 0;
    border-radius: 15px;
    text-decoration: none;
}

.secao__titulo {
    width: 95%;
    color: var(--cor-preta);
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    line-height: 1.2;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 0.3px solid var(--cor-cinza);
    margin-bottom: 0.8rem;
}

.swiper-slide {
    text-decoration: none;
    margin-left: 0.2rem;
}

.secao__container__container-conteudo-img {
    width: 305px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px 5px 0 0;
}

.secao__container__container-conteudo-span {
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    background: linear-gradient(0deg, rgba(8, 19, 48) 84px, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 5px 5px;
}

.secao__container__container-conteudo-span-sub {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 35px;
}

.secao__container-conteudo-sub-img {
    width: 48px;
    height: 48px;
    align-self: center;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.secao__container__container-conteudo-span-texto {
    color: var(--cor-branca);
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 0.3rem;
}

.sub-span-texto {
    color: hsla(0, 0%, 100%, .7);
    font-size: 12px;
    text-align: center;
}

.span-sub-two {
    margin-bottom: -12px;
}

.span-one {
    background-image: linear-gradient(0deg, rgba(60, 3, 78) 84px, rgba(0, 0, 0, 0) 100%);
}

.span-two {
    background-image: linear-gradient(0deg, rgba(0, 100, 255) 84px, rgba(0, 0, 0, 0) 100%);
}

.secao__banner {
    width: 95%;
    margin-bottom: 1rem;
}

.secao__banner__container {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--cor-azul-sansung);
    min-height: 250px;
}

.secao__banner-imagen {
    width: 100%;
}

.secao__banner_img {
    width: 100%;
    max-height: 290px;
    border-radius: 5px;
}

.secao__banner_img-sub {
    width: auto;
    padding: 0.5rem;
    background-color: var(--cor-branca);
    padding: 0.5rem;
    position: relative;
    bottom: 30px;
    left: 25px;
    border-radius: 5px;
}


.banner_img-sub {
    width: 80px;
    height: 58px;
}

.secao__banner_container-descricao {
    width: 95%;
    padding-left: 25px;
}

.descricao__titulos-titulos {
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-branca);
}

.descricao__texto-two {
    padding: 0.5rem 0.5rem 0.5rem 0;
    font-size: 20px;
}

.descricao__inferior {
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: var(--cor-branca);
    display: flex;
    gap: 1rem;
}

.descricao__inferior-svg {
    width: 13px;
    height: 13px;
    align-self: center;
}

.principal .secao__discovery {
    width: 95%;
}

.principal .secao__discovery .discovery_link {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-bottom: 1rem;
}

.principal .secao__discovery .discovery_link .discovery__info {
    width: 120px;
    height: 190px;
    padding: 0 25px 20px 20px;
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px 0 0 5px;
}
.principal .secao__discovery .discovery_link .discovery__info
.container__discovery__info{
    display: flex;
    flex-direction: column;
}

.principal .secao__discovery .discovery_link .discovery__info .discovery__info-titulo {
    color: var(--cor-cinza-discovery);
    font-size: 8px;
    letter-spacing: 2.5px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.principal .secao__discovery .discovery_link .discovery__info .discovery__info-texto {
    color: var(--cor-cinza-discovery);
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.1;
}

.principal .secao__discovery .discovery_link .discovery__img {
    width: 180px;
    height: 210px;
    border-radius: 0 5px 5px 0;
}

.principal .secao__discovery .discovery_link .discovery__img-estrumentos {
    width: 100%; 
    height: 100%;

}

.discovery_link .discovery__info .discovery__info-botao {
    border: none;
    background-color: var(--cor-branca);
    color: var(--cor-azul-discovery-botao);
    margin-top: 35px;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    text-align: left;
}