.secao__container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-branca);
    margin: 1rem 0;
    border-radius: 15px;
    text-decoration: none;
}

.secao__titulo {
    width: 95%;
    color: var(--cor-preta);
    font-size: 16px;
    font-weight: 600;
    text-align: start;
    line-height: 1.2;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 0.3px solid var(--cor-cinza);
    margin-bottom: 0.8rem;
}

.secao__container-swiper {
    margin-left: 0.8rem;
}

.secao__container__link {
    width: 308px;
    text-decoration: none;
    border-top: 0.5px solid var(--cor-borda);
    padding-top: 0.8rem;
}

.secao__container__container-conteudo-img {
    width: 308px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px 5px 0 0;
}

.secao__container__container-conteudo-span {
    width: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 25px;
    background: linear-gradient(0deg, rgba(8, 19, 48) 84px, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 5px 5px;
}

.secao__container__container-conteudo-span-sub {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 25px;
}

.secao__container-conteudo-sub-img {
    width: 48px;
    height: 48px;
    align-self: center;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.secao__container__container-conteudo-span-texto {
    color: var(--cor-branca);
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    padding: 0 8px;
    margin-bottom: 0.3rem;
}

.sub-span-texto {
    color: hsla(0, 0%, 100%, .7);
    font-size: 12px;
    text-align: center;
}